# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ssm_study_std\ssm-lib-review-02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
