<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wildchap.mapper.BookMapper">

    <!--增加一本书-->
    <insert id="addBook" parameterType="Books">
        insert into ssmbuild.books(bookName,bookCounts,detail)
        values (#{bookName}, #{bookCounts}, #{detail})
    </insert>

    <!--删除一本书-->
    <delete id="delteBookById">
        delete from books
        where bookID = #{id}
    </delete>

    <!--更新一本书-->
    <update id="updataBook" parameterType="Books">
        update books
        set bookName = #{bookName},bookCounts = #{bookCounts},detail = #{detail}
        where bookID = #{bookID}
    </update>

    <!--查询一本书-->
    <select id="queryBookById" resultType="Books">
        select * from books where bookID = #{id}
    </select>

    <!--查询多本书(Name/Details)-->
    <select id="queryBookByNameAndDetail" resultType="Books">
        select * from books
        where bookName = #{info}
    </select>
    
    <!--查询所有书-->
    <select id="queryAllBook" resultType="Books">
        select * from books
    </select>

</mapper>